certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
mypy==1.4.0
mypy-extensions==1.0.0
pydantic==1.10.9
PySimpleGUI==4.60.5
requests==2.31.0
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing_extensions==4.6.3
urllib3==2.0.3
